<nav class="navbar navbar-expand-lg  navbar-light bg-light container-xxl">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe book</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li appHeader routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/recipes" >Recipes</a></li>
        <li appHeader routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/shopping-list">Shopping List</a></li>
      </ul>

      <ul class="nav navbar-nav">
        <li ngbDropdown>
          <a
            class="btn btn-secondary"
            ngbDropdownToggle
            style="cursor: pointer"
            type="button"
            aria-expanded="false"
            id="manageButton"
          >Manage</a>
          <ul ngbDropdownMenu aria-labelledby="manageButton">
            <li><a ngbDropdownItem style="cursor: pointer">Saving Data</a></li>
            <li><a ngbDropdownItem style="cursor: pointer">Fetching Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
